{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!-- Carousel Images -->
<div class="carousel slide" id="slider" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#slider"></li>
        <li data-slide-to="1" data-target="#slider"></li>
        <li data-slide-to="2" data-target="#slider"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active" id="slide1">
            <div class="carousel-caption">
                <h4>Otherworlds</h4>
            </div>
        </div>
        <div class="item" id="slide2">
            <div class="carousel-caption">
                <h4>Beautiful, handcrafted creatures</h4>
            </div>
        </div>
        <div class="item" id="slide3">
            <div class="carousel-caption">
                <h4>Explore our collection</h4>
                <a href="{% url 'products' %}" class="btn btn-default btn-lg">Shop All</a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#slider" data-slide="prev" role="button"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#slider" data-slide="next" role="button"><span class="icon-next"></span></a>
</div>

<!--About Section -->
<div class="padding">
<div class="container">
    <div class="row about-header">
        <div class="col-sm-6">
            <img src="media/images/dragon-necklace-4.jpg">
        </div>
        <div class="col-sm-6 text-center">
            <h2>About Otherworlds</h2>
            <p class="lead">With over 20 years in design and craftwork...</p>
            <p class="lead">At Otherworlds, we create unusual and whimsical, handmade crochet wire jewellery that evokes delight and fun in all creations.</p>
            <p class="lead">Working mainly by crocheting coloured wire, gemstones and beads, all manor of creatures and characters have come to life.</p>
        </div>
    </div>
</div>
</div>

<!-- Shop by Category Section -->
<div id="fixed" class="container-fluid text-center">
    <div class="row home-categories">
        <div class="col-sm-12">
            <h2>Shop Categories</h2>
        </div>
        <div class="col-sm-3">
            <p><a href="{% url 'products' %}?category=Basket">Baskets</a></p>
            <a href="{% url 'products' %}?category=Basket"><img src="media/images/basket.jpg"></a>
        </div>
        <div class="col-sm-3">
            <p><a href="{% url 'products' %}?category=Pendant">Pendants</a></p>
            <a href="{% url 'products' %}?category=Pendant"><img src="media/images/pendant.JPG"></a>
        </div>
        <div class="col-sm-3">
            <p><a href="{% url 'products' %}?category=Brooch">Brooches</a></p>
            <a href="{% url 'products' %}?category=Brooch"><img src="media/images/eagle-brooch.JPG"></a>
        </div>
        <div class="col-sm-3">
            <p><a href="{% url 'products' %}?category=Necklace">Necklaces</a></p>
            <a href="{% url 'products' %}?category=Necklace"><img src="media/images/flamingos-necklace.JPG"></a>
        </div>
    </div>
</div>

<!--Social Media Section -->
<div class="padding">
<div class="container-fluid text-center">
    <div class="row">
         <div class="col-sm-6 home-connect">
            <h2>Connect</h2>
            <p class="lead">Are you looking for something bespoke?</p>
            <p>Let us know about a design you have in mind and we can see if we can create it for you.</p>
            <p>Why not get in touch using any of the following ways...</p>
            <a href="https://www.facebook.com/OtherWorlds-207861035897783/" target="_blank" class="fa fa-facebook"></a>
            <a href="https://twitter.com/saffronjohns" target="_blank" class="fa fa-twitter"></a>
            <a href="{% url 'contact' %}" class="fa fa-envelope"></a>
            <a href="https://www.etsy.com/shop/otherworlds/items" target="_blank" class="fa fa-etsy"></a>
            <a href="https://www.instagram.com/saffronjohns/" target="_blank" class="fa fa-instagram"></a>
        </div>
        <div class="col-sm-6 octopus">
            <img src="media/images/octopus-brooch-1.jpg">
        </div>
    </div>
</div>
</div>

{% endblock %}












