{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="contact-heading">Contact</h1>
            <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="contact-lead-p">
                    <p class="lead">Want something bespoke? Have a question that can't be answered in the FAQ? Feel free to contact us either by email, telephone, or one of the Social Media Links below.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row contact-header">
            <div class="col-sm-6 col-md-6">
                <div class="contact-email">
                    <h3>By Email</h3>
                    <p>For any inquiries, please send us an email with your question at xxxxxxx@xxxxxx.xx.xx.</p>
                    <p>We will review and respond to your email as quickly as possible.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="contact-phone">
                    <h3>By Phone</h3>
                    <p>xxxxxxxxxxxx</p>
                    <p>We are avaiable Monday to Saturday: 9am to 5pm and Sunday 10am to 4pm GMT.</p>
                    <p>Calls are charged at a basic rate. Please refer to your service provider for all charges,</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row">
             <div class="col-sm-12 contact-social">
                <a href="https://www.facebook.com/OtherWorlds-207861035897783/" target="_blank" class="fa fa-facebook"></a>
                <a href="https://twitter.com/saffronjohns" target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.etsy.com/shop/otherworlds/items" target="_blank" class="fa fa-etsy"></a>
                <a href="https://www.instagram.com/saffronjohns/" target="_blank" class="fa fa-instagram"></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}