{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="password-reset-padding-2">
        {% if validlink %}
            <form action="" method="post" class="reset-accountform">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <div class="password-reset-table">
                    <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                        <table>
                            <tr>
                                <td>{{ form.new_password1.errors }}
                                    <label for="id_new_password1">New Password:</label></td>
                                <td>{{ form.new_password1 }}</td>
                            </tr>
                            <tr>
                                <td>{{ form.new_password2.errors }}
                                    <label for="id_new_password2">Confirm Password:</label></td>
                                <td>{{ form.new_password2 }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input class="confirm-password-btn" type="submit" value="Change Password" /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </form>
        {% else %}
            <div class="container">
                <div class="password-reset-padding-error">
                    <h1>Password Reset Unsuccessful</h1>
                    <p>The password reset link was invalid, <br />
                        possibly because it has already been used. <br />
                        Please request a new password reset.</p>
                    <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}