{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="products-padding">
        
        <!--Description -->
        
        <div class="col-lg-4">
            <div class="description-container">
                <h1>{{ product.name }}</h1>
                <h3>{{ product.category }}</h3>
                <div class="information-p">
                    <p class="description-p">{{ product.description }}</p>
                    <h4>£{{ product.price }}</h4>
                </div>
                <form class="quantity-form" method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <div class="btn-success-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </div>
                            </span>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- Thumbnails -->
        
        <div class="col-lg-4">
            <div class="thumbnail-main-containers">
                <div class="col-lg-6">
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_1 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_1 }}">
                            </a>
                        </div>
                    </div>
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_2 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_2 }}">
                            </a>
                        </div>
                    </div>
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_3 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_3 }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumbnail-main-containers">
                <div class="col-lg-6">
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_4 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_4 }}">
                            </a>
                        </div>
                    </div>
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_5 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_5 }}">
                            </a>
                        </div>
                    </div>
                    <div class="thumb-container">
                        <div class="product-thumb-image">
                            <a href="{{ MEDIA_URL }}{{ product.image_6 }}" target="image-container">
                                <img src="{{ MEDIA_URL }}{{ product.image_6 }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Main Image -->
        
        <div class="col-lg-4">
            <div class="image-container">
                <div class="product-detail-image">
                    <img src="{{ MEDIA_URL }}{{ product.image_1 }}">
                </div>
            </div>
        </div>
        
        
        <!-- Back Button -->
        
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="back-btn">
                    <a href="{% url 'products' %}" class="btn btn-success" role="button>">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}