{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="products-heading">All Products</h1>
        </div>
    </div>
    
    <!-- Search Menu -->
    <div class="row">
        <div class="search">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <!-- Filter Menu -->
    <div class="row">
        <div class="container">
            
        </div>
    </div>
    
    <!--Products -->
    <div class="row">
        <div class="container-fluid">
            {% for product in products %}
                {% if product.available %}
                <div class="col-xs-12 col-xs-offset-2 col-sm-6 col-md-6 col-lg-3 panel panel-default">
                    <div class="panel-body">
                        <h4>{{ product.name }}</h4>
                        <p class="price">£{{ product.price }}</p>
                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                        <form class="quantity-form" method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}