{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="products-heading">All Products</h1>
            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-d-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                {% if messages %}
                    <div class="messages alert alert-success">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <!-- Search Menu -->
    <div class="row">
        <div class="search">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    
    <!-- Filter Menu-->
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Categories<i class="fa fa-chevron-down"></i></a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse out">
                    <div class="category-panel-body">
                        <p><a href="{% url 'products' %}?category=Basket">Baskets</a></p>
                        <p><a href="{% url 'products' %}?category=Pendant">Pendants</a></p>
                        <p><a href="{% url 'products' %}?category=Brooch">Brooches</a></p>
                        <p><a href="{% url 'products' %}?category=Necklace">Necklaces</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Products -->
    <div class="row">
        <div class="container-fluid">
            {% for product in products %}
                {% if product.available %}
                <div class="col-xs-12 col-xs-offset-2 col-sm-6 col-md-6 col-lg-3 panel panel-default">
                    <div class="panel-body">
                        <h4>{{ product.name }}</h4>
                        <p class="price">£{{ product.price }}</p>
                        <a href="{% url 'product-detail' product.pk %}">
                            <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_1 }}')"></div>
                        </a>
                        <form class="quantity-form" method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <input name='quantity' type="number" value="0" min="1" max="999" class="form-control" placeholder="Quantity">
                                <span class="input-group-btn">
                                    <div class="btn-success-btn">
                                        <button class="btn btn-success" type="submit">Add</button>
                                    </div>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <!-- Pagination -->
    <div class="container">
            <ul id="pagination">
                <div class="pagination">
                    <div class="page-count">
                        Showing items {{ products.start_index }}-{{ products.end_index }} of {{ products.paginator.count }}
                    </div>
                    {% if products.has_previous %}
                        <li><a href="?page={{ products.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    {% for pg in products.paginator.page_range %}
                        {% if products.number == pg %}
                            <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                        {% else %}
                            <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if products.has_next %}
                        <li><a href="?page={{ products.next_page_number }}">Next</a></li>
                    {% endif %}
                </div>
            </ul>
    </div>
</div>
{% endblock %}

{% block body_js %}
    <script type"text/javascript">
        $(document).ready(function() {
            $('input[name="quantity"]').change(function(event) {
                let $inputEl = $(this);
                let value = $inputEl.val();
                $inputEl.parent().find('button').attr('disabled', value === '');
            });
        });
    </script>
{% endblock body_js %}