{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="products-heading">{{ product.name }}</h1>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    {% if product.available %}
                        <div class="panel panel-default">
                            <div class="col-sm-6 col-md-6 col-lg-12 panel-body">
                                <div class="row product-image-display">
                                    <ul class="thumb">
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_1 }}')"></div></a></li>
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_2 }}')"></div></a></li>
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_3 }}')"></div></a></li>
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_4 }}')"></div></a></li>
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_5 }}')"></div></a></li>
                                        <li><a href="#"><div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image_6 }}')"></div></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                 </div>
                
                <div class="col-lg-6">
                    <h3>Product Description</h3>
                    <h4>{{ product.category }}</h4>
                    <div class="information-p">
                        <p class="description-p">{{ product.description }}</p>
                        <h4>£{{ product.price }}</h4>
                    </div>
                    <form class="quantity-form" method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name='quantity' type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                            <span class="input-group-btn">
                                <div class="btn-success-btn">
                                    <button class="btn btn-success" type="submit">Add</button>
                                </div>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="col-lg-12">
                <div class="back-btn">
                    <a href="{% url 'products' %}" class="btn btn-success" role="button>">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}