html, body {
    height: 100%;
    width: 100%;
    background-color: #FFF;
}

/* BASE */

/* Navigation */

.navbar {
    background-color: #3d1126;
    padding: 4px 0;
    font-size: 1.2em;
}

.nav-header a {
    color: #FFF;
    font-weight: 500;
    margin-left: 10px;
}

.nav-header a:hover {
    color: #634051;
    text-decoration: none;
}

.navbar-default {
    background-color: #3d1126;
    border-color: #3d1126;
}

.navbar-default .navbar-toggle {
    border-color: #3d1126;
}

.navbar-default .navbar-nav li a {
    color: #FFF;
}

.navbar-default .navbar-nav li a:hover {
    color: #634051;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Footer */

footer {
    width: 100%;
    background-color: #3d1126;
    color: #FFF;
}

.footer-headers h4 {
    text-transform: uppercase;
    margin-top: 20px;
}

.footer-headers h4 a {
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
    color: #FFF;
}

.footer-headers h4 a:hover {
    color: #634051;
}

.footer-information p a {
    color: #FFF;
}

.footer-information p a:hover {
    color: #634051;
    text-decoration: none;
}

footer .row {
    margin-bottom: 15px;
}

/* HOME PAGE */

/*Home Page*/

.padding {
    padding: 50px 0;
}

.padding img {
    width: 100%;
}

.padding .octopus img {
    width: 75%;
}

/*Home Page Banner Image */

#slider .item {
    height: 90vh;
}

#slide1 {
    background: url("https://bit.ly/2VropjW") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
    height: 100vh;
}

#slide2 {
    background: url("https://bit.ly/2XFP8KQ") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
}

#slide3 {
    background: url("https://bit.ly/2Tp5mtr") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    top: 40%;
    left: 15%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption h4 {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-radius: 5px;
}

.carousel-caption .btn:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

.about-header {
    text-transform: uppercase;
    font-weight: 900;
}

.about-header p {
    text-transform: none;
    font-weight: normal;
    margin: 35px;
}

/* Categories */

#fixed {
    display: table;
    height: 25%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-color: #6d0a3a9c;
}

.home-categories {
    text-transform: uppercase;
    font-weight: 900;
    color: #4f104f;
}

.home-categories p a {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
}

.home-categories p a:hover {
    color: #634051;
}

.home-categories h2 {
    margin: 25px 0px 25px 0px;
}

.home-categories img {
    width: 13em;
    margin-bottom: 35px;
    border-radius: 50%;
}

.home-categories img:hover {
    width: 13.5em;
}

/* Connect */

.home-connect {
    text-transform: uppercase;
    font-weight: 900;
    color: #4f104f;
}

.home-connect p {
    text-transform: none;
    font-weight: normal;
    margin: 35px;
}

.fa {
    padding: 15px;
    font-size:35px;
    color: #390920ed;
}

.fa:hover {
    color: #390920b8;
    text-decoration: none;
}

/* PRODUCTS PAGE */

.products-heading {
    margin-top: 7.5%;
    margin-bottom: 2.5%;
    text-align: center;
    text-transform: uppercase;
}

.search input {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

.search {
    text-align: center;
    margin-bottom: 2.5%;
}

.search button {
    border-radius: 5px;
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-width: 1px;
}

.search button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

/*Products */

.panel {
    margin: 0px 10px 20px 10px;
    background-color: #f4efef;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 25em;
}

.input-group {
    width: 65%;
}

.input-group-btn button {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
}

.input-group-btn button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

form .quantity-form {
    width: 50%;
}

.product-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 25em;
    margin: 0 auto;
}

.sold-out {
    font-weight: 900;
    margin-top: -4px;
    margin-bottom: 5px;
    color: #FFF;
}

.panel-sold-out {
    margin: 0px 10px 20px 10px;
    background-color: #000000ba;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 25em;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    .final {
        margin-bottom: 35px;
    }
    
    .footer-headers h4 {
        margin-top: 30px;
    }
    
    .nav-header a {
        margin-left: 20px;
}
}






