html, body {
    height: 100%;
    width: 100%;
    background-color: #FFF;
    font-family: 'Merriweather', serif;
}

/* BASE */

/* Navigation */

.navbar {
    background-color: #3d1126;
    padding: 4px 0;
    font-size: 1.2em;
}

.nav-header a {
    color: #FFF;
    font-weight: 500;
    margin-left: 10px;
}

.nav-header a:hover {
    color: #634051;
    text-decoration: none;
}

.navbar-default {
    background-color: #3d1126;
    border-color: #3d1126;
}

.navbar-default .navbar-toggle {
    border-color: #3d1126;
}

.navbar-default .navbar-nav li a {
    color: #FFF;
}

.navbar-default .navbar-nav li a:hover {
    color: #634051;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* Footer */

footer {
    width: 100%;
    background-color: #3d1126;
    color: #FFF;
}

.footer-headers h4 {
    text-transform: uppercase;
    margin-top: 20px;
}

.footer-headers h4 a {
    text-transform: uppercase;
    margin-top: 20px;
    text-decoration: none;
    color: #FFF;
}

.footer-headers h4 a:hover {
    color: #634051;
}

.footer-information p a {
    color: #FFF;
}

.footer-information p a:hover {
    color: #634051;
    text-decoration: none;
}

footer .row {
    margin-bottom: 15px;
}

.footer-social a {
    padding: 15px;
    font-size:20px;
    color: #FFF;
}

.footer-social a:hover {
    color: #634051;
}

/* HOME PAGE */

/*Home Page*/

.padding {
    padding: 50px 0;
}

.padding img {
    width: 100%;
}

.padding .octopus img {
    width: 75%;
}

/*Home Page Banner Image */

#slider .item {
    height: 90vh;
}

#slide1 {
    background: url("https://bit.ly/2VropjW") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
    height: 100vh;
}

#slide2 {
    background: url("https://bit.ly/2XFP8KQ") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
}

#slide3 {
    background: url("https://bit.ly/2Tp5mtr") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding: 0;
    margin-top: 65px;
    width: 100%;
}

.carousel-caption {
    position: absolute;
    right: 15px;
    top: 40%;
    left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-caption h4 {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.carousel-caption .btn {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-radius: 5px;
    border: none;
}

.carousel-caption .btn:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

.about-header {
    text-transform: uppercase;
    color: #4f104f;
}

.about-header h2 {
    font-weight: 600;
}

.about-header p {
    text-transform: none;
    font-weight: normal;
    margin: 35px;
}

/* Categories */

#fixed {
    display: table;
    height: 25%;
    position: relative;
    width: 100%;
    background-size: cover;
    background-color: #6d0a3a9c;
}

.home-categories {
    text-transform: uppercase;
    font-weight: 900;
    color: #4f104f;
}

.home-categories p a {
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
    margin-bottom: 10px;
}

.home-categories p a:hover {
    color: #634051;
}

.home-categories h2 {
    margin: 25px 0px 25px 0px;
    font-weight: 600;
}

.home-categories img {
    width: 13em;
    margin-bottom: 35px;
    border-radius: 50%;
}

.home-categories img:hover {
    width: 13.5em;
}

/* Connect */

.home-connect {
    text-transform: uppercase;
    font-weight: 900;
    color: #4f104f;
}

.home-connect p {
    text-transform: none;
    font-weight: normal;
    margin: 35px;
}

.home-connect h2 {
    font-weight: 600;
}

.fa {
    padding: 15px;
    font-size:35px;
    color: #390920ed;
}

.fa:hover {
    color: #390920b8;
    text-decoration: none;
}

/* PRODUCTS PAGE */

.products-heading {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #4f104f;
}

.search input {
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    margin-bottom: 25px;
}

.search {
    text-align: center;
    margin-bottom: 5px;
}

.search button {
    border-radius: 5px;
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-width: 1px;
}

.search button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

/*Products */

.panel {
    margin: 0px -3px 20px 0px;
    background-color: #f4efef;
    border: 0px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

}

.input-group {
    width: 100%;
    margin-top: 15px;
}

.input-group-btn button {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
}

.input-group-btn button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

form .quantity-form {
    width: 50%;
}

.product-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: auto;
    height: 25em;
    margin: 0 auto;
}

.price {
    font-weight: 900;
}

/* REGISTER AND LOGIN FORMS */

.accountform {
    text-align: center;
    margin: 7em 0 5.1em 0;
}

.form-group {
    margin: 10px 0px 35px 0px;
}

.form-group h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #4f104f;
    border-bottom: none;
    margin-bottom: 40px;
}

.form-group a {
    text-decoration: none;
}

.register-button {
    color: #fff;
    background-color: #3d1126;
    border-color: #3d1126;
    border: none;
    border-radius: 5px;
}

.register-button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

.login-button {
    color: #fff;
    background-color: #3d1126;
    border-color: #3d1126;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.login-button:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

/* INFORMATION */

/* Reviews */

.reviews-heading {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #4f104f;
}

.reviews-header p {
    text-transform: none;
    font-weight: normal;
    margin: 10px;
    text-align: center;
    font-style: italic;
}

.lead {
    text-align: center;
}

.reviews-p {
    padding-bottom: 25px;
}

.author p {
    font-weight: 900;
}

/* FAQ and Policies */

.information-headers {
    text-align: center;
    margin-bottom: 25px;
}

.information-headers h2 {
    margin-bottom: 25px;
}

.information-p {
    text-align: left;
}

.information-p h4 {
    margin-top: 25px;
}

.main-p {
    text-align: center;
    font-size: 15px;
    margin: 5px 20px 20px 15px;
    padding: 0 20px 0 20px;
}

.p-headers {
    font-weight: 600;
    margin-top: 30px;
}

/* Contact */

.contact-heading {
    margin-top: 100px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #4f104f;
}

.contact-lead-p {
    margin: 10px 35px 35px 35px;
}

.contact-header h3 {
    font-weight: 900;
    text-align: left;
    margin: 10px 0 10px 0;
}

.contact-header p {
    text-transform: none;
    font-weight: normal;
    text-align: left;
}

.contact-phone {
    margin: 10px 0 30px 0;
}

.contact-email {
    margin: 10px 0 35px 0;
}

.contact-social {
    font-weight: 900;
    color: #4f104f;
    margin-bottom: 25px;
}

/* CHECKOUT */
.checkout {
    text-align: center;
}

.checkout-heading {
    margin-top: 100px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #4f104f;
}

.checkout p {
    font-weight: 600;
}

.checkout a {
    margin: 10px 0 35px 0;
}

.checkout .btn-success {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-radius: 5px;
    border: none;
}

.checkout .btn-success:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

#payment-form legend {
    font-weight: 900;
}

#payment-form .form-group {
    margin: 10px 0px 15px 0px;
}

.form-group-payment-button {
    text-align: center;
    margin-bottom: 25px;
}

#submit_payment_btn {
    border-radius: 5px;
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-width: 1px;
}

#submit_payment_btn:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

/* PASSWORD RESETS */

/* Password reset form */

.password-reset .accountform {
    text-align: center;
    margin: 9em 0 10em 0;
    padding: 12em 0em;
}

.reset-password-email {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.reset-password-email:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

.password-reset input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
}

.password-reset-padding {
    padding: 20em 0;
    text-align: center;
}

.password-reset-padding-2 {
    padding-top: 10em;
    padding-bottom: 10em;
    margin-bottom: 12em;
}

.reset-accountform {
    margin: 7em 5.1em;
}



.confirm-password-btn {
    background-color: #390920ed;
    border-color: #390920ed;
    color: #FFF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 20px;
}

.confirm-password-btn:hover {
    background-color: #390920b8;
    border-color: #390920b8;
}

.password-reset-table label {
    margin-top: 15px;
}

.password-reset-padding-error {
    padding: 5em 0;
    text-align: center;
}

#id_new_password1 {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    margin-left: 10px;
}

#id_new_password2 {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    margin-left: 10px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    
    .footer-headers h4 {
        margin-top: 30px;
    }
    
    .nav-header a {
        margin-left: 20px;
    }
    
    .carousel-caption h4 {
        font-size: 2.1em;
    }
}

@media (min-width: 768px) {

    .form-inline .form-group {
        display: block;
    }
}

@media (max-width: 675) {
    .password-reset-table .col-xs-offset-3 {
        margin-left: -30px;
    }
}

@media (max-width: 595px) {
    .password-reset-table .col-xs-offset-3 {
        margin-left: 15px;
        padding-left: 50px;
    }
}

@media (max-width: 476px) {
    .password-reset-table .col-xs-offset-3 {
        margin-left: -40px;
    }
}

@media (max-width: 396px) {
    .password-reset-table .col-xs-offset-3 {
        margin-left: -50px;
        padding-left: 10px;
    }
}