{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<div class="container">
    <div class="row">
        
        <form method="post" action="{% url 'register' %}" class="accountform">
            <fieldset class="form-group">
                <h2>Create a new account</h2>
                <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                {% csrf_token %}
                
                <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    {{  user_form | as_bootstrap }}
                    <button type="submit" class="register-button btn btn-primary">Create Account</button>
                </div>
                
                
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
