{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Otherworlds</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
    <!--Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="nav-header"><a href="{% url 'index' %}">OTHERWORLDS</a></h3>
            </div>
            <div id="navbar-collapse-main" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'products' %}">Shop</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    {%  else %}
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'products' %}">Shop</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% endif %}
                    {% if product_count > 0 %}
                        <li>
                            <div class="shopping-basket">
                                <a href="{% url 'view_cart' %}" class="fa fa-shopping-basket">
                                    <label class="badge badge-warning">{{ product_count }}</label>
                                </a>
                            </div>
                        </li>
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %} {% endblock %}
    
    <footer class="container-fluid text-center">
        <div class="row footer-headers">
            <div class="col-sm-4">
                <h4><a href="{% url 'contact' %}">Contact</a></h4>
                <p>Email: xxxxxxx@xxxx.xx.xx</p>
                <p class="final">Phone: 01234 567890</p>
                <p class="footer-social">
                    <a href="https://www.facebook.com/OtherWorlds-207861035897783/" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://twitter.com/saffronjohns" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.etsy.com/shop/otherworlds/items" target="_blank" class="fa fa-etsy"></a>
                    <a href="https://www.instagram.com/saffronjohns/" target="_blank" class="fa fa-instagram"></a>
                </p>
            </div>
            <div class="col-sm-4">
                <h4>Otherworlds</h4>
                <p>Website Designed and Built by <a href="#">.team</a></p>
                <p>Copyright @ 2019 Otherworlds</p>
                <p class="final">All rights reserved</p>
            </div>
            <div class="col-sm-4 footer-information">
                <h4>Information</h4>
                <p><a href="{% url 'policies' %}">Policies</a></p>
                <p><a href="{% url 'index' %}">About</a></p>
                <p><a href="{% url 'faq' %}">FAQ</a></p>
                <p><a href="{% url 'reviews' %}">Reviews</a></p>
            </div>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type"text/javascript">
        $(document).ready(function(){
            $('.thumb-wrapper a').click(function(e){
                e.preventDefault();
                $('.image-wrapper img').attr("src", $(this).attr("href"));
            })
        });
    </script>
    
    {% block head_js %}
    {% endblock head_js %}
    {% block body_js %}
    {% endblock body_js %}
    
</body>
</html>













