{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="checkout-heading">Checkout</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-lg-12">
            <div class="checkout">
                <p>Total: <span class="glyphicon glyphicon-gbp" aria-hidden="true"></span>{{ total }}</p>
                <a href="{% url 'checkout' %}" class="btn btn-success" role="button>">Checkout</a>
            </div>
        </div>
    </div>

    <!--Checkout Products -->
    <div class="row">
        <div class="container-fluid">
            {% for item in cart_items %}
            <div class="col-xs-12 col-xs-offset-2 col-sm-6 col-md-6 col-lg-3 panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div id="remove-btn">
                            <button id="modal-btn" data-item-id="{{item.id}}" data-item="{{item}}" class="btn btn-remove btn-cart-remove" role="button">x</button>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="product-detail">
                            <h4>{{ item.product.name }}</h4>
                            <p>£{{ item.product.price }}</p>
                        </div>
                    </div>
                    
                    <div class="product-image" style="background-image: url('{{ MEDIA_URL}}{{ item.product.image_1 }}')"></div>
                    
                    <p>
                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                <div class="input-group">
                                    <input name='quantity' type="number" value="{{ item.quantity }}"min="0" max="999" class="form-control" placeholder="Quantity">
                                    <div class="input-group-addon">{{ item.quantity }}</div>
                                    <span class="input-group-btn">
                                        <div class="btn-success-btn">
                                            <button class="btn btn-success" type="submit">Amend</button>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="remove-item-confirmation-dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove product from cart?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block body_js %}
    <script type"text/javascript">
        $(document).ready(function() {
            $('input[name="quantity"]').change(function(event) {
                let $inputEl = $(this);
                let value = $inputEl.val();
                $inputEl.parent().find('button').attr('disabled', value === '');
            });
            
            // Add onclick event handler for all remove buttons in the cart page
            $('.btn-remove').click(function() {
                let itemId = $(this).data('itemId');
                if (itemId) {
                    // Update the dialog with the itemId value before showing
                    let modalElement = $('#remove-item-confirmation-dialog');
                    modalElement.data('itemId', itemId);
                    modalElement.modal('show');
                }
            });
            
            // Add onclick event handler for the Modal primary button
            $('#remove-item-confirmation-dialog .btn-primary').click(function() {
                let itemId = $('#remove-item-confirmation-dialog').data('itemId');
                if (itemId) {
                    let url = "{% url 'remove_item_from_cart' 123 %}";
                    document.location.href = url.replace('123', itemId);
                }
            });
        });
    </script>
{% endblock body_js %}