{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row">
       <div class="col">
            <h1 class="reviews-heading">Information</h1>
            <p class="main-p">If you cant find the answer you are looking for or if you have any questions please contact us and we'll get back to you as soon as possible.</p>
            <p class="main-p">Your satisfaction and happiness with your purchase and your experience buying from our Otherworlds shop is very important. If there are any problems along the way, please get in touch and we will do all we can to help!</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 information-headers">
                <h2>FAQ</h2>
                <div class="information-p">
                    <h4>Additional Policies and FAQs</h4>
                    <p class="p-headers">About Coloured Wire</p>
                    <p>The type of wire I use is mainly enameled copper wire, not only is it colourful, permanent, vibrant and shiny and comes in an array of colours and gauges but has the bonus that the enamel coating protects the copper wire from tarnishing and will not fade over time.</p>
                    <p>I also use gold and silver plated copper wire and sterling silver wire, the type of wire I use will be clearly stated in the description.                    </p>
                    

                    <p class="p-headers">Caring for Coloured Wire</p>
                    <h5>Cleaning coloured wire</h5>
                    <p>I find the best way to clean my wire sculptures and jewelery is to use a soft brush like a paintbrush to carefully remove any dust and dirt. If a piece is in need of more attention after that I suggest using a damp soft cloth and carefully polish the piece. Coloured wire can be washed using water, however if the piece remains wet for a long time it will ruin the piece so never soak wire and dry the wire piece out immediately after washing.</p>
                    <p>Plated and sterling wire should not be cleaned in this way! There are various methods and products for cleaning plated and sterling wire that can be found by searching the web.</p>

                    <h5>Shaping</h5>
                    <p>The wire I use is often thin, normally 0.2mm and can easily be gently bent and curled back into shape if needed. However wire is delicate and repeated heavy bending and the like can damage a piece so do take care.</p>
                </div>
             </div>
            
            <div class="col-lg-6 information-headers">
                <h2>Policies & Information</h2>
                <div class="information-p">
                    <h4>Returns and Exchanges</h4>
                    <p class="p-headers">I gladly accept returns and exchanges.</p>
                    <p>Contact me within: 14 days of delivery.</p>
                    <p>Send items back within: 30 days of delivery.</p>
                    
                    <p class="p-headers">I don't accept cancellations</p>
                    <p>But please contact me if you have any problems with your order.<p>
                        
                    <p class="p-headers">The following items can't be returned or exchanged</p>
                    <p>Because of the nature of these items, unless they arrive damaged or defective, I can't accept returns for:</p>
                    <p>
                        <ul>
                            <li>Custom or personalised orders</li>
                            <li>Perishable products (like food or flowers)</li>
                            <li>Digital downloads</li>
                            <li>Intimate items (for health/hygiene reasons)</li>
                        </ul>
                    </p>
                    
                    <p class="p-headers">Returns and Exchange Details</p>
                    <h5>Damaged items</h5>
                    <p>I take the great care in packaging all items however if something does arrive damaged I will repair the item where possible or refund the cost of the item when the item has been returned to me. I allow 7 days for contact to be made that an Item has arrived damaged and a refund, replacement or fixing of the item is wanted and 30 days for the item to be returned, thereafter no refund or replacement will be made.</p>
                    <h5>Lost items</h5>
                    <p>I send my parcels from The UK, the usual delivery time can take up to 15 working days to arrive, however sometimes customs will hold an item up for longer so I ask that you allow 6 weeks for items to reach you. Although it is rare for parcels to get completely lost there are occasions when this unfortunately happens; If your item has not arrived within 6 weeks please let me know and I will either refund your money or offer you an alternative piece of a similar value from my shop.</p>
                    <h5>Returns</h5>
                    <p>If you wish to return an item please contact me to tell me you intend to return the item within a week of it arriving. When the item has been returned I will refund the sale minus any shipping cost.</p>
                
                    <h4>Shipping</h4>
                    <p>I send everything registered with tracking number and first class from the UK. I ship out orders as soon as I can after payment has been made and within ten days of the date of your order. Under normal conditions it should take 5 - 15 working days from the day it is dispatched to arrive with you depending on the country you live in. However there are occasions when customs can hold up parcels and it can take up to 6 weeks to arrive, if your item has not arrived within 6 weeks please let me know and I will try to find out what has happened.</p>
                    <p>I only charge one shipping cost however many things you order, the highest shipping cost out of the items you buy will be charged.</p>
                    <p>Please note that any customs or tax charges are at the expense of the buyer.</p>
                    
                    <h4>Payment</h4>
                    <p class="information-p">Shipping Costs</p>
                    <p>
                        <ul>
                            <li>United Kingdom from $4.75 up to $7.70</li>
                            <li>European Union: from $5.10 up to $8.40</li>
                            <li>Everywhere Else: from $7.80 up to $10.80</li>
                        </ul>
                    </p>
                    <p>For each additional item the shipping is free; I only charge one shipping cost however many things you order, the highest shipping cost out of the items you buy will be charged.</p>

                    <p class="information-p">Payment</p>
                    <p>We accept credit or debit cards through our direct checkout as payment methods.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}